/* repos list */

.repos-list {
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.repos-list ul {
    width: 50%;
    list-style-type: none;
    padding: 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.repos-list li {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(148, 148, 148);

    display: flex;
    justify-content: center;
    flex-direction: row;
}

.repos-list li:hover {
    background-color: rgb(238, 238, 238);
}

.left-block {
    width: 70%;
    margin-left: 20px;
}

.left-block span {    
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.right-block {
    width: 30%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

i {
    cursor: pointer;
}

i:hover {
    color: rgb(98, 98, 98);
}

i:active {
    color: black;
}