form {
    width: 100%;
    gap: 15px;
}

.new-repo {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.new-repo-input {
    width: 50%;
    height: 30px;
    text-align: center;
}

.new-repo-button {
    cursor: pointer;
    width: 70px;
    background-color: black;
    color: white;
    font-size: 10px;
    border: none;
}

.new-repo-button:hover {
    background-color: rgb(98, 98, 98);
}

.new-repo-button:active {
    background-color: black;
}
